<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" href="/assets/Rectangle 2.png"
	type="image/gif" />
<link rel="stylesheet" th:href="@{/boostrap/bootstrap.min.css}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/whatsapp.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link
	href="https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap"
	rel="stylesheet">
<title th:text="${TituloPagina}"></title>
</head>
<body>
	<a
		href="https://api.whatsapp.com/send?phone=51978546321&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Cake%20Fit."
		class="float" target="_blank"> <i class="fa fa-whatsapp my-float"></i>
	</a>

	<header class="w-100">
		<nav class="navbar navbar-expand-lg navbar-light w-100 col-xl-12">
			<a class="navbar-brand" href="/app/home"> <img
				src="/assets/Rectangle 2.png" width="80" height="80" alt="">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mx-auto texts-menu">
					<li class="nav-item"><a class="nav-link" href="/nosotros"
						th:text="${Nosotros}"> <span class="sr-only"></span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="#"
						th:text="${Productos}"></a></li>
					<li class="nav-item"><a class="nav-link" href=""
						th:text="${Locales}"></a></li>
					<li class="nav-item"><a class="nav-link" href="/contacto"
						th:text="${Contacto}"></a></li>

				</ul>
				<form class="form-inline my-2 my-lg-0">

					<a href="/login" class="btn btn-primary btn-lg active"
						role="button" aria-pressed="true">LOGIN</a>
				</form>
			</div>
		</nav>
	</header>

	<div class="container">
		<h1>Editar Contactos</h1>
	</div>
	<form th:action="@{/contactos/{id}(id=${contacto.idUsuario})}" class="container mt-5" method="POST"
		th:object="${contacto}">
		<div class="row">

			<div class="form-group col-6 ">
				<label>Nombres *</label> <input type="text" th:field="*{nombres}"
					name="nombres" class="form-control" required>
			</div>
			<div class="form-group col-6">
				<label>Apellidos *</label> <input type="text" name="apellidos"
					th:field="*{apellidos}" class="form-control" required>
			</div>
		</div>


		<div class="row mt-5">
			<div class="form-group col-6">
				<label>Correo Electronico *</label> <input type="email" required
					th:field="*{correo}" class="form-control" name="correo"
					aria-describedby="emailHelp"> <small id="emailHelp"
					class="form-text text-muted">Mantendremos su correo seguro.</small>
			</div>
			<div class="form-group col-6">
				<label>Celular *</label> <input type="number" th:field="*{celular}"
					class="form-control" name="celular" required>
			</div>
		</div>

		<div class="form-group mt-5">
			<label>Asunto *</label> <input type="text" th:field="*{asunto}"
				class="form-control" name="asunto" required>
		</div>

		<div class="form-group mt-5">
			<label>¿Como puedo ayudarte?</label>
			<textarea class="form-control" th:field="*{comentario}" rows="3"></textarea>
		</div>

		<div class="d-flex justify-content-between">

			<button class="text-white btn btn-danger mt-5" type="submit"
				style="background-color: #EA4362">Guardar Respuesta</button>
			<a class="btn btn-success mt-5" th:href="@{/contactos/form}"
				role="button">Listar Contactos</a>
		</div>
	</form>

</body>
</html>