<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/boostrap/bootstrap.min.css}">
<link rel="stylesheet" href="/css/logincss.css">
<link rel="shortcut icon" href="/assets/Rectangle 2.png"
	type="image/gif" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<script src="https://kit.fontawesome.com/40dfb2e73f.js"
	crossorigin="anonymous"></script>
<link
	href="https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap"
	rel="stylesheet">
<title th:text="${TituloPagina}"></title>
</head>
<body>

	<!-- Interfaz del login-->
	<div id="contenedor">
		<div id="contenedorcentrado">

			<div id="derecho">
			<a href="/home">
			
				<img src="/assets/coco.png" class="img-fluidfondo w-100" alt="">
			</a>
				

			</div>
			<div id="login" >
				<div class="titulo">Bienvenidos!</div>
				<form id="loginform">
					<label for="usuario" ></label>


						<input id="usuario" type="text"
						name="usuario" placeholder=" @Usuario" required> 
					

					<label for="password"></label> <input id="password" type="password"
						placeholder="@Contraseña" name="password" required>
					
					<div class="pie-form">
                        <a href="#">¿Perdiste tu contraseña?</a>
                        <a href="/app/registro">¿No tienes Cuenta? <br>Registrate</a>
                    </div>
						
					<div class="d-flex justify-content-end">
						<button type="submit" title="Ingresar" name="Ingresar">Login</button>
					
					</div>
				</form>

			</div>
		</div>
	</div>


	<img src="/assets/vector 1.png" class="img-fluidfondo w-100"
		style="height: 80vh" alt="">

	<script th:src="@{/boostrap/bootstrap.jquery-3.2.1.slim.min.js}"></script>
	<script th:src="@{/boostrap/popper.min.js}"></script>
	<script th:src="@{/boostrap/bootstrap.min.js}"></script>
</body>
</html>